*{
    padding: 0;
    margin: 0;
}
body{
    background-color: purple;
}
.container{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    color: whitesmoke;
    margin: 50px;
}
.btn{
    cursor: pointer;
    box-shadow: 0 0 0.5rem black;
    border: none;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
}

.btn-container{
    display: flex;
    gap: 20px;
}
.msg-container{
    border: none;
    box-shadow: 0 0 0.3rem rgb(90, 87, 87);
    border-radius: 8px;
    margin: 40px;
    display: inline;
    background-color: #f9f600;
    padding: 20px;
}
.msg{
    color: purple;
    font-size: 25px;

}
